<div class="wishlist-page" *ngIf="utilisateurCourant">
    <div class="paint-decoration paint-left"></div>
    <div class="paint-decoration paint-right"></div>

    <header class="wishlist-header">
        <p class="subtitle">Sélection intime</p>

        <h1>Liste de souhaits de {{ utilisateurCourant.prenom }}</h1>

        <div class="header-line"></div>
    </header>

    <section class="wishlist-empty" *ngIf="isLoading">
        <div class="loader"></div>
        <p>Chargement de vos œuvres...</p>
    </section>  

    <section class="wishlist-empty" *ngIf="!isLoading && tableauxSouhaites.length === 0">
        <h2>Aucune œuvre favorite</h2>
        <p>Ajoutez une œuvre à vos souhaits pour composer votre future collection.</p>
    </section>

    <section class="wishlist-grid">
        <article class="art-card" *ngFor="let tableau of tableauxSouhaites">
            <div class="image-wrapper">
                <img src="https://material.angular.dev/assets/img/examples/shiba2.jpg" [alt]="tableau.nom" />
            </div>

            <div class="art-info">
                <h2>
                    {{ tableau.nom }}
                </h2>
                <p class="size">{{ tableau.taille }} cm</p>
                <p class="price">{{ tableau.prix }} €</p>
                <button class="wishlist-btn">Voir l’œuvre</button>
            </div>
        </article>
    </section>
</div>

<div class="wishlist-page" *ngIf="!utilisateurCourant">
    <div class="paint-decoration paint-left"></div>
    <div class="paint-decoration paint-right"></div>

    <section class="wishlist-empty">
        <h2>Vous devez être connecté pour accéder à votre liste de souhaits</h2>
        <p>Veuillez vous connecter ou créer un compte pour gérer votre collection.</p>
        <div class="login-link">
            <p>Vous avez déjà un compte ?
                <a mat-button color="primary" href="/login">Se connecter</a>
            </p>
        </div>
    </section>
</div>