<div class="grid-container">
    <mat-grid-list [cols]="getGridCols()" rowHeight="400px" gutterSize="20px">
        <mat-grid-tile *ngFor="let tableau of dataSource">
            <mat-card class="product-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>{{ tableau.nom }}</mat-card-title>
                </mat-card-header>

                <mat-card-content class="card-content">
                    <div class="image-container">
                        <img class="product-image"
                            src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
                            alt="Photo of a Shiba Inu">
                    </div>

                    <div class="product-info">
                        <div class="info-item">
                            <mat-icon class="info-icon">straighten</mat-icon>
                            <span>{{ tableau.taille }} cm</span>
                        </div>

                        <div class="info-item price">
                            <mat-icon class="info-icon">euro</mat-icon>
                            <span>{{ tableau.prix }} €</span>
                        </div>
                    </div>
                </mat-card-content>

                <mat-card-actions class="card-actions">
                    <button mat-mini-fab
                        [color]="utilisateurCourant?.tableauxLikes?.includes(tableau.id) ? 'warn' : 'primary'"
                        [class.liked]="utilisateurCourant?.tableauxLikes?.includes(tableau.id)"
                        (click)="toggleLike(tableau)"
                        matTooltip="Ajouter à la liste de souhaits">
                        <mat-icon>{{ utilisateurCourant?.tableauxLikes?.includes(tableau.id) ? 'favorite' :
                            'favorite_border' }}</mat-icon>
                    </button>
                    <p>{{ utilisateurCourant?.tableauxLikes?.includes(tableau.id) }}</p>

                    <button class="cart-button" mat-mini-fab
                        [color]="utilisateurCourant?.tableauxDansPanier?.includes(tableau.id) ? 'accent' : 'primary'"
                        [class.in-cart]="utilisateurCourant?.tableauxDansPanier?.includes(tableau.id) "
                        (click)="toggleCart(tableau)"
                        matTooltip="Ajouter au panier">
                        <mat-icon>
                            {{ utilisateurCourant?.tableauxDansPanier?.includes(tableau.id) ? 'shopping_cart' :
                            'add_shopping_cart' }}
                        </mat-icon>
                    </button>
                    <p>{{ utilisateurCourant?.tableauxDansPanier?.includes(tableau.id) }}</p>

                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<p *ngIf="utilisateurCourant">Bienvenue, {{ utilisateurCourant.prenom }}!</p>