<h1>Logs</h1>
<p>En fonction de chaque catégorie :</p>
<ul>
    <li>Logs de toutes les actions du site</li>
    <li>Logs en fonction des catégories</li>
    <li>Choix des catégories de l'utilisateur</li>
    <li>Chargement des logs après choix</li>
</ul>

<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
        {{tab.label}}
        <ng-template matTabContent>
            <div class="tab-content">
                {{ tab.label }} - {{ tab.content?.length || 0 }} logs
                <p *ngIf="!tab.content">Chargement...</p>
                <!-- tabs.component.html -->
                <table mat-table [dataSource]="tab.content || []" *ngIf="tab.content" class="mat-elevation-z2">

                    <!-- Colonne Date de création -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef>Date de création</th>
                        <td mat-cell *matCellDef="let element">{{ formatDate(element.created_at) }}</td>
                    </ng-container>

                    <!-- Colonne Description -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>