@if(utilisateurCourant != null && utilisateurCourant.estAdmin){
<mat-card appearance="outlined">
    <button mat-button [routerLink]="'/administration/tableaux'">
        <mat-card-header>
            <mat-card-title>Les tableaux</mat-card-title>
            <mat-card-subtitle>Gérer les tableaux (ajout, modification,
                suppression etc)</mat-card-subtitle>
        </mat-card-header>
    </button>
</mat-card>

<mat-card appearance="outlined">
    <button mat-button [routerLink]="'/administration/utilisateurs'">
        <mat-card-header>
            <mat-card-title>Les utilisateurs</mat-card-title>
            <mat-card-subtitle>Gérer les utilisateurs (ajout, modification,
                suppression etc)</mat-card-subtitle>
        </mat-card-header>
    </button>
</mat-card>

<mat-card appearance="outlined">
    <button mat-button [routerLink]="'/securite'">
        <mat-card-header>
            <mat-card-title>La sécurité</mat-card-title>
            <mat-card-subtitle>Paramètre de sécurité (réseaux, données
                etc)</mat-card-subtitle>
        </mat-card-header>
    </button>
</mat-card>

<mat-card appearance="outlined">
    <button mat-button [routerLink]="'/seo'">
        <mat-card-header>
            <mat-card-title>Référencement SEO</mat-card-title>
            <mat-card-subtitle>Consulter les étapes et moyens de référencement automatiques sur Google</mat-card-subtitle>
        </mat-card-header>
    </button>
</mat-card>

<mat-card appearance="outlined">
    <button mat-button [routerLink]="'/logs'">
        <mat-card-header>
            <mat-card-title>Les logs</mat-card-title>
            <mat-card-subtitle>Consulter les logs (erreurs, accès, etc) des
                utilisateurs et du serveur</mat-card-subtitle>
        </mat-card-header>
    </button>
</mat-card>

<mat-card appearance="outlined">
    <button mat-button [routerLink]="'/statistiques'">
        <mat-card-header>
            <mat-card-title>Statistiques</mat-card-title>
            <mat-card-subtitle>Consulter les statistiques du site (visites,
                performances, etc)</mat-card-subtitle>
        </mat-card-header>
    </button>
</mat-card>
} @else {
    <div class="empty-state">
        <p>Vous n'avez pas les droits nécessaires pour accéder à cette section.</p>
    </div>
}
